$colorWhite: white;
$colorBlack: black;
$colorWineRed: #904669;

$colorBgGray: #eaebe6;
$colorSubTitle: #535353;
$colorHeader: rgba(255, 255, 255, 0.9);
$colorScrollText: rgba(255, 255, 255, 0.7);
$colorHeroImageCover: rgba(0, 61, 125, 0.1);

$colorBoxShadow: rgba(0, 0, 0, 0.8);
$colorCover: rgba(0, 0, 0, 0.3);
$colorMenuOpen: $colorWhite;
$colorMenuClose: $colorBlack;

$contentMaxWidth: 1070px;
$navHeight: 100px;
